body {
    font-size: .875rem;
}

*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'Poppins', 'Lora', sans-serif;
    vertical-align:baseline;
    --primary-color: #ffffff;
    --hovered-color: #fbff01;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    height: 8vh;
    background-color: #dc3545;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.listnav{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* tittle Navbar*/
.tittle {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-family:'Poppins';
}

/* Navbar List */
.nav-home {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

.nav-home p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
    
}

.nav-home p::before {
    position: absolute;
    content: "Home";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.nav-home:hover p::before {
    width: 100%;
}
.nav-customer {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

.nav-customer p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.nav-customer p::before {
    position: absolute;
    content: "Customer";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.nav-customer:hover p::before {
    width: 100%;
}
.nav-orders {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

.nav-orders p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.nav-orders p::before {
    position: absolute;
    content: "Orders";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.nav-orders:hover p::before {
    width: 100%;
}
.nav-report {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

.nav-report p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.nav-report p::before {
    position: absolute;
    content: "MyProfile";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.nav-report:hover p::before {
    width: 100%;
}
.nav-logout {
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

.nav-logout p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
}

.nav-logout p::before {
    position: absolute;
    content: "Logout";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
}

.nav-logout:hover p::before {
    width: 100%;
}

.container {
    display: flex;
    padding: 100px 20px 0 20px;
}

.content-list {
    display: flex;
    width: 100%;
}

.content1 {
    flex: 3;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 10px 10px 10px #c5c5c5, -10px -10px 10px #ffffff;  
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content2 {
    flex: 1;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 10px 10px 10px #c5c5c5;
    margin-bottom: 10px;
}

/* product */
.product {
    width: calc(25% - 20px);
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h6 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Poppins';
    color: black;
}

.product span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #888;
}
.form-total {
    border: none;
    background-color: #f8f8f8;
    padding: 8px;
    font-size: 16px;
    color: #333;
    cursor: not-allowed;
}

a.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
a.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

a.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
  }

  
