body {
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tittle-logo {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 2.5rem;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 400px;
}

.tittle {
    text-align: center;
    color: #7D1A1A;
    margin-bottom: 1.5rem;
}

.logo {
    text-align: center;
    margin-bottom: 1.5rem;
}

.content {
    margin-bottom: 1.5rem;
}

.content label {
    display: block;
    margin-bottom: 0.5rem;
}

.email,
.password {
    background-color: #BD8B8B;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    color: #333;
}

button[name="login"] {
    background-color: #dc3545;
    color: white;
    border: none;
    width: 100%;
    padding: .375rem .75rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}
