*{
    margin: 0;
    padding: 0;
}

h4{
    font-family: 'Arial';
}

.content{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 5em;
    border: 2px solid white ;
    padding: 35px 60px;
    border-radius: 10px;
    box-shadow: 0 10px 100px rgb(185, 178, 178);
}

.name{
    font-size: 30pt;
    text-align: center;
}

.logo{
    text-align: center;
}

.input {
    margin-bottom: 10px;
}

.input label {
    font-size: 11pt;
    font-family: monospace;
    display: block;
    margin-bottom: 5px;
}

.input input[type="email"],
.input input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: #BD8B8B;
    color: black;
}

.button {
    font-family: monospace;
    display: inline-block;
    padding: 10px 20px;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .button:hover {
    background-color: #be5757;
  }